/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

button {
    background-color: #E02C6D;
    border: none;
}


/***************************
 Header area 
 **************************/

header {
    background-color: #2D25A0;
}

/* Navigation bar */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
    padding-top: 40px;


}

.nav-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 150px;

}

.nav-right {
    margin-right: 150px;
}

.nav-option a,
.banner h1,
.banner button a,
.fa-arrow-right {
    text-decoration: none;
    color: white;
}

.nav-option a {
    margin: 10px;
    line-height: 24px;
    white-space: nowrap;
    font-size: 16px;
}

.nav-option:hover {
    background-color: #100a6a;
    border-radius: 5px;
    transform: scale(1.5) rotate3d(0, 1, 0, -1turn);
    transition: transform 1s ease-in;
}

.nav-option button {
    width: 123px;
    height: 44px;
    display: inline-flex;
}

.nav-option button img {
    width: 24px;
    height: 24px;
    margin: 8px;
}


/* Banner area */

.banner-section {
    display: flex;
}

.banner {
    width: 50%;
}

.banner h1 {
    font-size: 64px;
    line-height: 80px;
    margin: 15% 15% 0 20%;
}

.banner button {
    width: 168px;
    height: 44px;
    margin-left: 20%;
    margin-bottom: 20%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}



.banner button a {
    font-size: 16px;
    font-family: 'Poppins';
    text-align: center;
}

.banner button i {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    margin: 5px;
}

.banner button:hover i {
    transform: scale(5) rotate3d(1, 0, 0, 5turn) translateX(50px);
    transition: transform 2s ease-in-out;
}

.banner img {
    width: 100%;
}

/********************
 main area 
 ********************/

/* first section of main area */

.top-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding-left: 180px;
    padding-right: 210px;
    padding-top: 70px;
}

figure {
    background-color: rgba(255, 255, 255, 0.207);
    padding: 15px;
    border-radius: 5px;
    margin: 0px;
}

.player img {
    width: 100%;
}

figure:hover img {
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
}

/* secound section of main area */

.bottom-section {
    display: flex;
    align-items: stretch;
    margin-top: 165px;
    padding-bottom: 160px;
}

.bottom-half {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.207);
}

.bottom-half h1 {
    font-size: 48px;
    line-height: 60px;
    margin: 15% 15% 0 20%;
}

.bottom-half p {
    font-size: 16px;
    line-height: 28px;
    margin: 0 15% 0 20%;
}

.bottom-half img {
    width: 100%;
}

.bottom-half button {
    width: 173px;
    height: 44px;
    margin-left: 20%;
}

.bottom-half button a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
}

.bottom-half button i {
    margin-left: 5px;
}

/********************** 
footer area 
**********************/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 485px;
    height: 110px;
}

.social-icon img {
    width: 32px;
    height: 32px;
}

.copyright {
    font-size: 18px;
    line-height: 24px;
}

/******************** 
Media Query 
*********************/

/* Mobile device  */

@media only screen and (max-width:688px) {


    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-left {
        position: sticky;
        width: 100%;
        left: 0;
        flex-direction: column;
        transition: 0.7s;
        background-color: #C0392B;
        margin-left: 10px;
    }

    .nav-right .nav-option button {
        margin-left: 10px;
    }


    .banner-section,
    .bottom-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner,
    .banner h1,
    .bottom-half,
    .bottom-half h1,
    .bottom-half p {
        width: 96%;
        margin-left: 16px;
        margin-right: 16px;
    }

    .banner button {
        margin-left: 16px;
        margin-bottom: 50px;
    }

    .top-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 24px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .bottom-half button {
        width: 173px;
        height: 44px;
        margin-left: 16px;
        margin-top: 24px;
        margin-bottom: 30px;
    }

    .bottom-half button a {
        font-size: 16px;
    }

    .logo img {
        width: 80%;
        padding-left: 20px;
    }

}

/* Tablate devices */

@media only screen and (min-width:689px) and (max-width:991px) {

    .nav-left {
        margin-left: 15px;
    }

    .nav-right {
        margin-right: 20px;
    }

    .banner-section,
    .bottom-section {
        display: flex;
        align-items: center;
    }

    .top-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 24px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .banner h1,
    .banner button {
        margin-left: 50px;

    }
}